<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in my_obj %}
    <h1>{{i.name}}</h1>
    {% for j in i.tags.all %}
    <h1>{{ j }}</h1>
    {% endfor %}
    <h1>{{i.category.name}}</h1>
    <h1>{{i.author.name}}</h1>
    <h1>{{i.seria_number}}</h1>
    {% for f in i.bookimage_set.all %}
    <img src="{{ f.image.url }}" alt="">
    {% endfor %}
    {% endfor %}
    
    
</body>
</html>